#root {
  max-width: 1440px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: start;
  min-height: 100vh;
  padding: 0;
  background-color: #b7d0f6;
  color: #2f1a1a;
  box-sizing: border-box;
  font-size: 16px;
  line-height: 1.5;
  text-decoration: none;
  font-weight: normal;
  transition: background-color 0.3s ease;
  font-family: Arial, sans-serif;
}
.total {
  padding: 0;
  font-size: 18px;
}
