.imageGallery_list {
  list-style-type: none;
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  margin-bottom: 20px;
  padding: 0;
  justify-content: center;
  align-items: center;
  width: 100%;
  overflow-x: auto;

  &::-webkit-scrollbar {
    width: 10px;
  }
}
.ImageGallery_p {
  font-size: 1.2em;
  line-height: 1.5;
  margin-bottom: 10px;
  text-align: center;
  color: #ef4343;
  transition: color 0.3s ease;
  cursor: pointer;
}
